.checkContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.checkboxRoot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background: var(--light-100);
    padding: 0;
}

.checkboxRoot[data-state="unchecked"] {
    border-radius: 4px;
    border: 1px solid var(--light-100);
    background: var(--light-100);
    box-sizing: border-box;
}
.icon{
    display: flex;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    color: var(--light-100);
}






