.checkContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.checkboxRoot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.checkboxRoot:before {
    content: '';
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-100);
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.checkboxRoot:after {
    content: '';
    inset: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    background: var(--dark-300);
    transform: translate(-25%, -25%) scale(0);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transition: transform .3s ease-in-out;
}
.checkboxRoot:focus-within {
    outline: none;
}
.checkboxRoot:hover:after {
    transform: translate(-25%, -25%) scale(1);
    transition: transform .3s ease-in-out;
}

.indicator:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    inset: 0;
    transform: translate(-25%, -25%) scale(0);
    border-radius: 50%;
    background: var(--light-100);
    z-index: 2;
    animation: active 1s ease-in;
    animation-delay: -.5s;
}

.icon {
    position: relative;
    display: flex;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    color: var(--light-100);
    transform: scale(0);
    opacity: 0;
    z-index: 3;
    transition: all 1s ease-in-out;
}

.checkboxRoot[data-state="checked"] .icon {
    animation: popIn .3s ease forwards;
}
.checkboxRoot:focus-visible:after {
    background: var(--dark-500);
    transform: translate(-25%, -25%)!important;
    transform-origin: bottom left;
    animation: popIn 1s forwards;
}

.checkboxRoot[data-disabled]:hover:after {
    transform: translate(-25%, -25%) scale(0);
    background: none ;
    transition: none;
    background: var(--dark-100);
}
.checkboxRoot[data-disabled]:before{
    border: 1px solid var(--light-900);
    box-sizing: border-box;
}
.checkboxRoot[data-disabled] .icon{
    color: var(--dark-100);
    box-sizing: border-box;
}


@keyframes popIn {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes active {
    to {
        transform: translate(-25%, -25%) scale(1);
        opacity: 0;
    }
}



