.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}
