.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.text {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: calc(20 / 16 * var(--font-size-base));
  color: var(--light-900);
}

.textSendAgain {
  display: inline-block;
  margin-bottom: calc(20 / 16 * var(--font-size-base));
  color: var(--light-100);
}

.link {
  display: block;
  margin-top: calc(25 / 16 * var(--font-size-base));
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: calc(25 / 16 * var(--font-size-base));
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.btn {
  margin: auto 0 0;
}
.btnNewPassword {
  margin-top: calc(20 / 16 * var(--font-size-base));
}

.error {
  color: var(--danger-500, #dc3545);
  text-align: center;
}