/* --- Sidebar --- */
.sidebar {
    position: sticky;
    top: 3.75rem; /* 60px */
    width: 13.75rem; /* 220px */
    height: calc(100vh - 3.75rem); /*← УБИРАЕМ или КОММЕНТИРУЕМ */
    /*min-height: calc(100vh - 3.75rem); !* ← добавляем минимальную высоту *!*/
    padding: 4.5rem 0 2.25rem 3.75rem; /* 72px 0 36px 60px */
    overflow-y: auto; /* ← меняем на visible */
    background: var(--dark-700);
    border-right: 1px solid var(--dark-300);
}

.navRoot {
  width: 100%;
  height: 100%;
}

.navList {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navItem.groupStart {
  margin-top: 2.25rem; /* 36px */
}

.navItem {
  width: fit-content;
  margin-bottom: 1.5rem; /* 24px */
}

.navItem:last-of-type {
  margin-bottom: 0;
}

/* --- Ссылки --- */
.navLink{
    position: relative;
    display: flex;
    gap: 0.75rem; /* 12px */
    align-items: center;
    color: var(--light-100);
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.1s ease;
}

/* --- Иконка --- */
.icon {
  flex-shrink: 0;
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  color: var(--light-100);
  transition: color 0.1s ease;
}

/* --- Hover --- */
.navLink:hover,
.logoutLink:hover{
  font-weight: 500;
  color: var(--primary-100);
}

.navLink:hover .icon,
.logoutLink:hover .icon {
  color: var(--primary-100);
}

/* --- Active --- */
.navLink.active {
    color: var(--primary-500);
    background-color: transparent;
}

/* Иконка в активном состоянии */
.navLink.active .icon {
    color: var(--primary-500);
}
.navLink.active span {
    color: var(--primary-500);
}
/* --- Focus --- */
.navLink:focus-visible,
.logoutLink:focus-visible{
  outline: 2px solid var(--primary-700);
  outline-offset: 2px;

}

.label {
    transition: all 0.1s ease;
}

/* --- Disabled --- */
.navLink.disabled,
.logoutLink.disabled {
  color: var(--dark-100);
}

.navLink.disabled .icon,
.logoutLink.disabled .icon {
  color: var(--dark-100);
}

/* --- Log Out --- */
.logoutSection {
  padding-bottom: 2.25rem; /* 36px */
  margin-top: 11.25rem; /* 180px */
  list-style: none;
}
.logoutLink{
    position: relative;
    display: flex;
    gap: 0.75rem; /* 12px */
    align-items: center;
    color: var(--light-100);
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.1s ease;

}




