.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 36px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  color: var(--light-900);
  outline: 1px solid var(--dark-100);
  background-color: transparent;
  border: none;
  border-radius: 2px;
}

.input.withSearchIcon {
  padding-left: 2.625rem;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: flex;
  align-items: center;
  color: var(--light-900);
  pointer-events: none;
  transform: translateY(-50%);
}

.showPassword {
  position: absolute;
  top: 50%;
  right: 12px;
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--light-100);
  cursor: pointer;
  background: transparent;
  border: none;
  transform: translateY(-50%);
}

.wrapper:has(.input:active) .searchIcon,
.wrapper:has(.input:focus) .searchIcon {
  color: var(--light-100);
}

.input:disabled ~ .showPassword {
  color: var(--light-900);
  cursor: not-allowed;
}

.input:hover {
  outline: 1px solid var(--light-900);
  outline-offset: -1px;
  background-color: transparent;
}

.input:active,
.input:focus {
  color: var(--light-100);
  outline: 1px solid var(--light-100);
  outline-offset: -1px;
  background-color: var(--dark-500);
}

.input:disabled {
  cursor: not-allowed;
  outline: 1px solid var(--dark-100);
  outline-offset: -1px;
}

.input.error {
  outline: 1px solid var(--danger-500);
  outline-offset: -1px;
}

.input.error:focus {
  outline: 1px solid var(--danger-500);
  outline-offset: -1px;
}

.wrapper:has(.input.error) .searchIcon,
.wrapper:has(.input.error:focus) .searchIcon {
  color: var(--light-100);
}

/* В будующем, докидывать класс при клике с tab */
.input.keyboard-focus {
  color: var(--light-100);
  outline: 2px solid var(--primary-500);
  outline-offset: -2px;
}

.input::placeholder {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--light-900);
}

.input:disabled::placeholder {
  color: var(--dark-100);
}

.label {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  color: var(--light-900);
}

.errorText {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  color: var(--danger-500);
}
